.nav-link{
    margin-right: 25px;
}

.main, .btn-primary, .info,.main_block,h4{
    margin-top: 2%;

}


    
.btn-danger, .btn-info, .btn-primary{
    width: 240px;
}

a{
    color:rgb(54, 52, 52);
}

p{
    margin-top: -10px;
}

.card{
    margin-top: 5%;
}



@media(min-width:1200px){
    .ft{
        width: 100%;
        bottom: 0;
        position: absolute;
       
    }
    .ft_b{
        width: 100%;
        margin-top: 3%;
        bottom: -20;
        position: absolute;
    }
    .ft_r{
        width: 100%;
        
        
        position: absolute;
    }
}


@media (max-width: 414px){
    *body{
        overflow:hidden;
        overflow-x:hidden;
        max-height: 717px;
    }

    .ft{
        margin-top:2%;
        width: 100%;
        position: absolute;
    }

    .ft_b{
        margin-top: 3%;
    }

    .form-control{
        width:370px;
    }

    .main_best,.main_block{
        margin-left: 14%;
    }

    #btn_1{
        width:370px;
    }
}



