body{
    width: 100%;
    height: 100%;
    background: url(img/fon.jpg);
    font-family: 'Anton', sans-serif;
    background-size:cover;
    color:white;
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgba(9, 5, 47, .85) 0%, rgba(49, 29, 94, .85) 100%);

}
.main_2{
    margin-top: 5%;
    
}
.container{
    margin-top: 15%;
}

.btn-primary, .btn-info{
    width: 350px;
}

@media (max-width: 414px){
    body{
        width: 100%;
        height: 100%;
        background: url(img/fon.jpg);
        font-family: 'Anton', sans-serif;
        background-size:cover;
        color:white;
        background-repeat: no-repeat;
        background: linear-gradient(to right, rgba(9, 5, 47, .85) 0%, rgba(49, 29, 94, .85) 100%);
    }

    .container{
        margin-top: 25%;
    }
    .btn-primary{
        width: 380px;
    }
}